Laboratorio/IndignadoWeb/Service References/SessionServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTTenantInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="layoutFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTTenantInfo" nillable="true" type="tns:DTTenantInfo" />
</xs:schema>