Laboratorio/IndignadoWeb/Service References/UsersServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTThemeCategoriesColUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTThemeCategoryUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTThemeCategoriesColUsers" nillable="true" type="tns:DTThemeCategoriesColUsers" />
  <xs:complexType name="ArrayOfDTThemeCategoryUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTThemeCategoryUsers" nillable="true" type="tns:DTThemeCategoryUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTThemeCategoryUsers" nillable="true" type="tns:ArrayOfDTThemeCategoryUsers" />
  <xs:complexType name="DTThemeCategoryUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idMovement" type="xs:int" />
      <xs:element minOccurs="0" name="myInterest" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTThemeCategoryUsers" nillable="true" type="tns:DTThemeCategoryUsers" />
</xs:schema>