Laboratorio/IndignadoWeb/Service References/UsersServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTMovement">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idLayout" type="xs:int" />
      <xs:element minOccurs="0" name="imagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="locationLati" type="xs:float" />
      <xs:element minOccurs="0" name="locationLong" type="xs:float" />
      <xs:element minOccurs="0" name="maxMarcasInadecuadasRecursoX" type="xs:int" />
      <xs:element minOccurs="0" name="maxRecursosInadecuadosUsuarioZ" type="xs:int" />
      <xs:element minOccurs="0" name="maxRecursosPopularesN" type="xs:int" />
      <xs:element minOccurs="0" name="maxUltimosRecursosM" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTMovement" nillable="true" type="tns:DTMovement" />
  <xs:complexType name="DTThemeCategoriesColUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTThemeCategoryUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTThemeCategoriesColUsers" nillable="true" type="tns:DTThemeCategoriesColUsers" />
  <xs:complexType name="ArrayOfDTThemeCategoryUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTThemeCategoryUsers" nillable="true" type="tns:DTThemeCategoryUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTThemeCategoryUsers" nillable="true" type="tns:ArrayOfDTThemeCategoryUsers" />
  <xs:complexType name="DTThemeCategoryUsers">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTThemeCategory">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTThemeCategoryUsers" nillable="true" type="tns:DTThemeCategoryUsers" />
  <xs:complexType name="DTThemeCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idMovement" type="xs:int" />
      <xs:element minOccurs="0" name="myInterest" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTThemeCategory" nillable="true" type="tns:DTThemeCategory" />
  <xs:complexType name="DTUser_Users">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTUser">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTUser_Users" nillable="true" type="tns:DTUser_Users" />
  <xs:complexType name="DTUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="banned" type="xs:boolean" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="locationLati" type="xs:float" />
      <xs:element minOccurs="0" name="locationLong" type="xs:float" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberResourcesDisabled" type="xs:int" />
      <xs:element minOccurs="0" name="numberResourcesMarkedInappr" type="xs:int" />
      <xs:element minOccurs="0" name="registerDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTUser" nillable="true" type="tns:DTUser" />
</xs:schema>