Laboratorio/IndignadoWeb/Service References/SysAdminServiceReference/IndignadoServer.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTMovement">
    <xs:sequence>
      <xs:element minOccurs="0" name="adminMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adminNick" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="locationLati" type="xs:double" />
      <xs:element minOccurs="0" name="locationLong" type="xs:double" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTMovement" nillable="true" type="tns:DTMovement" />
  <xs:complexType name="DTMovementsCol">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTMovement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTMovementsCol" nillable="true" type="tns:DTMovementsCol" />
  <xs:complexType name="ArrayOfDTMovement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTMovement" nillable="true" type="tns:DTMovement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTMovement" nillable="true" type="tns:ArrayOfDTMovement" />
</xs:schema>