Laboratorio/IndignadoWeb/Service References/SysAdminServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SysAdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISysAdminService_createMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:createMovement" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_createMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:createMovementResponse" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_setMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:setMovement" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_setMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:setMovementResponse" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_getMovementsList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMovementsList" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_getMovementsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMovementsListResponse" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_enableMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:enableMovement" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_enableMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:enableMovementResponse" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_disableMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:disableMovement" />
  </wsdl:message>
  <wsdl:message name="ISysAdminService_disableMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:disableMovementResponse" />
  </wsdl:message>
  <wsdl:portType name="ISysAdminService">
    <wsdl:operation name="createMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/ISysAdminService/createMovement" message="tns:ISysAdminService_createMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISysAdminService/createMovementResponse" message="tns:ISysAdminService_createMovement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/ISysAdminService/setMovement" message="tns:ISysAdminService_setMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISysAdminService/setMovementResponse" message="tns:ISysAdminService_setMovement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMovementsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISysAdminService/getMovementsList" message="tns:ISysAdminService_getMovementsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISysAdminService/getMovementsListResponse" message="tns:ISysAdminService_getMovementsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="enableMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/ISysAdminService/enableMovement" message="tns:ISysAdminService_enableMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISysAdminService/enableMovementResponse" message="tns:ISysAdminService_enableMovement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="disableMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/ISysAdminService/disableMovement" message="tns:ISysAdminService_disableMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISysAdminService/disableMovementResponse" message="tns:ISysAdminService_disableMovement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISysAdminService" type="tns:ISysAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createMovement">
      <soap:operation soapAction="http://tempuri.org/ISysAdminService/createMovement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMovement">
      <soap:operation soapAction="http://tempuri.org/ISysAdminService/setMovement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovementsList">
      <soap:operation soapAction="http://tempuri.org/ISysAdminService/getMovementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enableMovement">
      <soap:operation soapAction="http://tempuri.org/ISysAdminService/enableMovement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disableMovement">
      <soap:operation soapAction="http://tempuri.org/ISysAdminService/disableMovement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SysAdminService">
    <wsdl:port name="BasicHttpBinding_ISysAdminService" binding="tns:BasicHttpBinding_ISysAdminService">
      <soap:address location="http://localhost:8730/IndignadoServer/SysAdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>