Laboratorio/IndignadoWeb/Service References/MeetingsServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTMeeting">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="minQuorum" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTMeeting" nillable="true" type="tns:DTMeeting" />
</xs:schema>