Laboratorio/IndignadoWeb/Service References/MeetingsServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8730/IndignadoServer/MeetingsService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" />
  <xs:element name="getMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getMeetingResult" nillable="true" type="q1:DTMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtMeeting" nillable="true" type="q2:DTMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMeetingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getMeetingsListResult" nillable="true" type="q3:DTMeetingsCol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingsListOnAttend">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingsListOnAttendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getMeetingsListOnAttendResult" nillable="true" type="q4:DTMeetingsCol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingsListOnInterest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingsListOnInterestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getMeetingsListOnInterestResult" nillable="true" type="q5:DTMeetingsCol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingsNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeetingsNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getMeetingsNotificationsResult" nillable="true" type="q6:DTMeetingsNotificationsCol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getThemeCategoriesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getThemeCategoriesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getThemeCategoriesListResult" nillable="true" type="q7:DTThemeCategoriesColMeetings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doAttendMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtMeeting" nillable="true" type="q8:DTMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doAttendMeetingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="unconfirmAttendMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtMeeting" nillable="true" type="q9:DTMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unconfirmAttendMeetingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dontAttendMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtMeeting" nillable="true" type="q10:DTMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dontAttendMeetingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMeetingNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtMeeting" nillable="true" type="q11:DTMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMeetingNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>