Laboratorio/IndignadoWeb/Service References/MeetingsServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTMeeting">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idMovement" type="xs:int" />
      <xs:element minOccurs="0" name="locationLati" type="xs:double" />
      <xs:element minOccurs="0" name="locationLong" type="xs:double" />
      <xs:element minOccurs="0" name="minQuorum" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTMeeting" nillable="true" type="tns:DTMeeting" />
  <xs:complexType name="DTMeetingsCol">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTMeeting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTMeetingsCol" nillable="true" type="tns:DTMeetingsCol" />
  <xs:complexType name="ArrayOfDTMeeting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTMeeting" nillable="true" type="tns:DTMeeting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTMeeting" nillable="true" type="tns:ArrayOfDTMeeting" />
</xs:schema>