Laboratorio/IndignadoWeb/Service References/MeetingsServiceReference/MeetingsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeetingsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8730/IndignadoServer/MeetingsService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8730/IndignadoServer/MeetingsService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8730/IndignadoServer/MeetingsService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeetingsService_getMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:getMeeting" />
  </wsdl:message>
  <wsdl:message name="IMeetingsService_getMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingsService_addEmptyMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:addEmptyMeeting" />
  </wsdl:message>
  <wsdl:message name="IMeetingsService_addEmptyMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEmptyMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingsService_getMeetingsList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMeetingsList" />
  </wsdl:message>
  <wsdl:message name="IMeetingsService_getMeetingsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMeetingsListResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeetingsService">
    <wsdl:operation name="getMeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingsService/getMeeting" message="tns:IMeetingsService_getMeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingsService/getMeetingResponse" message="tns:IMeetingsService_getMeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addEmptyMeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingsService/addEmptyMeeting" message="tns:IMeetingsService_addEmptyMeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingsService/addEmptyMeetingResponse" message="tns:IMeetingsService_addEmptyMeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMeetingsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingsService/getMeetingsList" message="tns:IMeetingsService_getMeetingsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingsService/getMeetingsListResponse" message="tns:IMeetingsService_getMeetingsList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMeetingsService" type="tns:IMeetingsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMeeting">
      <soap:operation soapAction="http://tempuri.org/IMeetingsService/getMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmptyMeeting">
      <soap:operation soapAction="http://tempuri.org/IMeetingsService/addEmptyMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeetingsList">
      <soap:operation soapAction="http://tempuri.org/IMeetingsService/getMeetingsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeetingsService">
    <wsdl:port name="BasicHttpBinding_IMeetingsService" binding="tns:BasicHttpBinding_IMeetingsService">
      <soap:address location="http://localhost:8730/IndignadoServer/MeetingsService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>