Laboratorio/IndignadoWeb/Service References/NewsResourcesServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8730/IndignadoServer/NewsResourcesService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" />
  <xs:element name="getNewsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getNewsListResult" nillable="true" type="q1:DTRssItemsCol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getResourcesListResult" nillable="true" type="q2:DTResourcesCol_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListTopRanked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListTopRankedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getResourcesListTopRankedResult" nillable="true" type="q3:DTResourcesCol_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListMovAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListMovAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getResourcesListMovAdminResult" nillable="true" type="q4:DTResourcesCol_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtUser" nillable="true" type="q5:DTUser_NewsResources" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getUserDetailsResult" nillable="true" type="q6:DTUserDetails_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtResource" nillable="true" type="q7:DTResource_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getResourceDataResult" nillable="true" type="q8:DTResource_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtResource" nillable="true" type="q9:DTResource_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="likeResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtResource" nillable="true" type="q10:DTResource_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="likeResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="unlikeResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtResource" nillable="true" type="q11:DTResource_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unlikeResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="markResourceInappropriate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="resource" nillable="true" type="q12:DTResource_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="markResourceInappropriateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="unmarkResourceInappropriate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="resource" nillable="true" type="q13:DTResource_NewsResources" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unmarkResourceInappropriateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>