Laboratorio/IndignadoWeb/Service References/NewsResourcesServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTRssItemsCol">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTRssItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTRssItemsCol" nillable="true" type="tns:DTRssItemsCol" />
  <xs:complexType name="ArrayOfDTRssItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTRssItem" nillable="true" type="tns:DTRssItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTRssItem" nillable="true" type="tns:ArrayOfDTRssItem" />
  <xs:complexType name="DTRssItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTRssItem" nillable="true" type="tns:DTRssItem" />
  <xs:complexType name="DTResourcesCol">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTResourcesCol" nillable="true" type="tns:DTResourcesCol" />
  <xs:complexType name="ArrayOfDTResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTResource" nillable="true" type="tns:DTResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTResource" nillable="true" type="tns:ArrayOfDTResource" />
  <xs:complexType name="DTResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iLikeIt" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="numberLikes" type="xs:int" />
      <xs:element minOccurs="0" name="thumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTResource" nillable="true" type="tns:DTResource" />
</xs:schema>