Laboratorio/IndignadoWeb/Service References/MovAdminServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTMovement">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idLayout" type="xs:int" />
      <xs:element minOccurs="0" name="imagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="locationLati" type="xs:float" />
      <xs:element minOccurs="0" name="locationLong" type="xs:float" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTMovement" nillable="true" type="tns:DTMovement" />
  <xs:complexType name="ArrayOfDTLayout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTLayout" nillable="true" type="tns:DTLayout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTLayout" nillable="true" type="tns:ArrayOfDTLayout" />
  <xs:complexType name="DTLayout">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTLayout" nillable="true" type="tns:DTLayout" />
  <xs:complexType name="DTRssSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTRssSource" nillable="true" type="tns:DTRssSource" />
  <xs:complexType name="DTRssSourcesCol">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTRssSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTRssSourcesCol" nillable="true" type="tns:DTRssSourcesCol" />
  <xs:complexType name="ArrayOfDTRssSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTRssSource" nillable="true" type="tns:DTRssSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTRssSource" nillable="true" type="tns:ArrayOfDTRssSource" />
  <xs:complexType name="DTThemeCategoryMovAdmin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTThemeCategory">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTThemeCategoryMovAdmin" nillable="true" type="tns:DTThemeCategoryMovAdmin" />
  <xs:complexType name="DTThemeCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idMovement" type="xs:int" />
      <xs:element minOccurs="0" name="myInterest" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTThemeCategory" nillable="true" type="tns:DTThemeCategory" />
  <xs:complexType name="DTThemeCategoriesColMovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTThemeCategoryMovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTThemeCategoriesColMovAdmin" nillable="true" type="tns:DTThemeCategoriesColMovAdmin" />
  <xs:complexType name="ArrayOfDTThemeCategoryMovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTThemeCategoryMovAdmin" nillable="true" type="tns:DTThemeCategoryMovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTThemeCategoryMovAdmin" nillable="true" type="tns:ArrayOfDTThemeCategoryMovAdmin" />
  <xs:complexType name="DTUser_MovAdmin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTUser">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTUser_MovAdmin" nillable="true" type="tns:DTUser_MovAdmin" />
  <xs:complexType name="DTUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="banned" type="xs:boolean" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="locationLati" type="xs:float" />
      <xs:element minOccurs="0" name="locationLong" type="xs:float" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberResourcesDisabled" type="xs:int" />
      <xs:element minOccurs="0" name="numberResourcesMarkedInappr" type="xs:int" />
      <xs:element minOccurs="0" name="registerDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTUser" nillable="true" type="tns:DTUser" />
  <xs:complexType name="DTUserDetails_MovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="resources" nillable="true" type="tns:ArrayOfDTResource_MovAdmin" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:DTUser_MovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTUserDetails_MovAdmin" nillable="true" type="tns:DTUserDetails_MovAdmin" />
  <xs:complexType name="ArrayOfDTResource_MovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTResource_MovAdmin" nillable="true" type="tns:DTResource_MovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTResource_MovAdmin" nillable="true" type="tns:ArrayOfDTResource_MovAdmin" />
  <xs:complexType name="DTResource_MovAdmin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTResource">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTResource_MovAdmin" nillable="true" type="tns:DTResource_MovAdmin" />
  <xs:complexType name="DTResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="disabled" type="xs:int" />
      <xs:element minOccurs="0" name="iLikeIt" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="myMarkInappr" type="xs:int" />
      <xs:element minOccurs="0" name="numberLikes" type="xs:int" />
      <xs:element minOccurs="0" name="numberMarksInappr" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlThumb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlVideo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTResource" nillable="true" type="tns:DTResource" />
  <xs:complexType name="DTUsersCol_MovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTUser_MovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTUsersCol_MovAdmin" nillable="true" type="tns:DTUsersCol_MovAdmin" />
  <xs:complexType name="ArrayOfDTUser_MovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTUser_MovAdmin" nillable="true" type="tns:DTUser_MovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTUser_MovAdmin" nillable="true" type="tns:ArrayOfDTUser_MovAdmin" />
  <xs:complexType name="DTResourcesCol_MovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTResource_MovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTResourcesCol_MovAdmin" nillable="true" type="tns:DTResourcesCol_MovAdmin" />
  <xs:complexType name="DTUsersRegisterReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTUsersRegisterReportItem" />
      <xs:element minOccurs="0" name="periodType" type="tns:DTUsersRegisterReport_PeriodType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTUsersRegisterReport" nillable="true" type="tns:DTUsersRegisterReport" />
  <xs:complexType name="ArrayOfDTUsersRegisterReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTUsersRegisterReportItem" nillable="true" type="tns:DTUsersRegisterReportItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTUsersRegisterReportItem" nillable="true" type="tns:ArrayOfDTUsersRegisterReportItem" />
  <xs:complexType name="DTUsersRegisterReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="numberRegisters" type="xs:int" />
      <xs:element minOccurs="0" name="numberUsers" type="xs:int" />
      <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTUsersRegisterReportItem" nillable="true" type="tns:DTUsersRegisterReportItem" />
  <xs:simpleType name="DTUsersRegisterReport_PeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Year" />
      <xs:enumeration value="Month" />
      <xs:enumeration value="Day" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DTUsersRegisterReport_PeriodType" nillable="true" type="tns:DTUsersRegisterReport_PeriodType" />
</xs:schema>