Laboratorio/IndignadoWeb/Service References/MovAdminServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8730/IndignadoServer/MovAdminService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" />
  <xs:element name="getMovement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getMovementResult" nillable="true" type="q1:DTMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtMovement" nillable="true" type="q2:DTMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addRssSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtRssSource" nillable="true" type="q3:DTRssSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRssSourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRssSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtRssSource" nillable="true" type="q4:DTRssSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRssSourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listRssSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listRssSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="listRssSourcesResult" nillable="true" type="q5:DTRssSourcesCol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addThemeCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtThemeCategory" nillable="true" type="q6:DTThemeCategoryMovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addThemeCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeThemeCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtThemeCategory" nillable="true" type="q7:DTThemeCategoryMovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeThemeCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listThemeCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listThemeCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="listThemeCategoriesResult" nillable="true" type="q8:DTThemeCategoriesColMovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtUser" nillable="true" type="q9:DTUser_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getUserDetailsResult" nillable="true" type="q10:DTUserDetails_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersListFull">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersListFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getUsersListFullResult" nillable="true" type="q11:DTUsersCol_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersListAllowed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersListAllowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getUsersListAllowedResult" nillable="true" type="q12:DTUsersCol_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersListBanned">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersListBannedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getUsersListBannedResult" nillable="true" type="q13:DTUsersCol_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="banUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="user" nillable="true" type="q14:DTUser_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="banUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reallowUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="user" nillable="true" type="q15:DTUser_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reallowUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getResourcesListAllResult" nillable="true" type="q16:DTResourcesCol_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListEnabled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListEnabledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getResourcesListEnabledResult" nillable="true" type="q17:DTResourcesCol_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListDisabled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourcesListDisabledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getResourcesListDisabledResult" nillable="true" type="q18:DTResourcesCol_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enableResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="resource" nillable="true" type="q19:DTResource_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enableResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="disableResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="resource" nillable="true" type="q20:DTResource_MovAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="disableResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersRegisterReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtUserReport" nillable="true" type="q21:DTUsersRegisterReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersRegisterReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getUsersRegisterReportResult" nillable="true" type="q22:DTUsersRegisterReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>