Laboratorio/IndignadoWeb/Service References/MovAdminServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8730/IndignadoServer/MovAdminService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" />
  <xs:element name="getMovement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="getMovementResult" nillable="true" type="q1:DTMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" minOccurs="0" name="dtMovement" nillable="true" type="q2:DTMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>