Laboratorio/IndignadoWeb/Service References/MovAdminServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTMovement">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idLayout" type="xs:int" />
      <xs:element minOccurs="0" name="locationLati" type="xs:float" />
      <xs:element minOccurs="0" name="locationLong" type="xs:float" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTMovement" nillable="true" type="tns:DTMovement" />
  <xs:complexType name="DTRssSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTRssSource" nillable="true" type="tns:DTRssSource" />
  <xs:complexType name="DTRssSourcesCol">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTRssSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTRssSourcesCol" nillable="true" type="tns:DTRssSourcesCol" />
  <xs:complexType name="ArrayOfDTRssSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTRssSource" nillable="true" type="tns:DTRssSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTRssSource" nillable="true" type="tns:ArrayOfDTRssSource" />
  <xs:complexType name="DTThemeCategoryMovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idMovement" type="xs:int" />
      <xs:element minOccurs="0" name="myInterest" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTThemeCategoryMovAdmin" nillable="true" type="tns:DTThemeCategoryMovAdmin" />
  <xs:complexType name="DTThemeCategoriesColMovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfDTThemeCategoryMovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTThemeCategoriesColMovAdmin" nillable="true" type="tns:DTThemeCategoriesColMovAdmin" />
  <xs:complexType name="ArrayOfDTThemeCategoryMovAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTThemeCategoryMovAdmin" nillable="true" type="tns:DTThemeCategoryMovAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTThemeCategoryMovAdmin" nillable="true" type="tns:ArrayOfDTThemeCategoryMovAdmin" />
</xs:schema>