Laboratorio/IndignadoWeb/Service References/MovAdminServiceReference/MovAdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovAdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8730/IndignadoServer/MovAdminService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8730/IndignadoServer/MovAdminService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8730/IndignadoServer/MovAdminService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignadoServer.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovAdminService_getMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:getMovement" />
  </wsdl:message>
  <wsdl:message name="IMovAdminService_getMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMovementResponse" />
  </wsdl:message>
  <wsdl:message name="IMovAdminService_setMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:setMovement" />
  </wsdl:message>
  <wsdl:message name="IMovAdminService_setMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:setMovementResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovAdminService">
    <wsdl:operation name="getMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovAdminService/getMovement" message="tns:IMovAdminService_getMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovAdminService/getMovementResponse" message="tns:IMovAdminService_getMovement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovAdminService/setMovement" message="tns:IMovAdminService_setMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovAdminService/setMovementResponse" message="tns:IMovAdminService_setMovement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovAdminService" type="tns:IMovAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMovement">
      <soap:operation soapAction="http://tempuri.org/IMovAdminService/getMovement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMovement">
      <soap:operation soapAction="http://tempuri.org/IMovAdminService/setMovement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovAdminService">
    <wsdl:port name="BasicHttpBinding_IMovAdminService" binding="tns:BasicHttpBinding_IMovAdminService">
      <soap:address location="http://localhost:8730/IndignadoServer/MovAdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>